/* 열간의 유동형그리드 처리 */

/* pc */
@media screen and (min-width: 1024px){
    /* 열간 좌우 여백(padding) 15px처리 */
    .pcol01{ float: left; width: 12%; padding: 0 15px; box-sizing: border-box; }
    .pcol02{ float: left; width: 25%; padding: 0 15px; box-sizing: border-box; }
    .pcol03{ float: left; width: 50%; padding: 0 15px; box-sizing: border-box; }
    .pcol04{ float: left; width: 66.66%; padding: 0 15px; box-sizing: border-box; }
    .pcol05{ float: left; width: 83.33%; padding: 0 15px; box-sizing: border-box; }
    .pcol06{ float: left; width: 100%; padding: 0 15px; box-sizing: border-box; }
}


/* tablet */
@media screen and (min-width: 768px) and (max-width:1023px){
    .tcol01{ float: left; width: 12%; padding: 0 15px; box-sizing: border-box; }
    .tcol02{ float: left; width: 31.25%; padding: 0 15px; box-sizing: border-box; }
    .tcol03{ float: left; width: 50%; padding: 0 15px; box-sizing: border-box; }
    .tcol04{ float: left; width: 66.66%; padding: 0 15px; box-sizing: border-box; }
    .tcol05{ float: left; width: 83.33%; padding: 0 15px; box-sizing: border-box; }
    .tcol06{ float: left; width: 100%; padding: 0 15px; box-sizing: border-box; }
}

/* mobile */
@media screen and (max-width:767px){
    .mcol01{ float: left; width: 12%; padding: 0 15px; box-sizing: border-box; }
    .mcol02{ float: left; width: 31.25%; padding: 0 15px; box-sizing: border-box; }
    .mcol03{ float: left; width: 50%; padding: 0 15px; box-sizing: border-box; }
    .mcol04{ float: left; width: 66.66%; padding: 0 15px; box-sizing: border-box; }
    .mcol05{ float: left; width: 83.33%; padding: 0 15px; box-sizing: border-box; }
    .mcol06{ float: left; width: 100%; padding: 0 15px; box-sizing: border-box; }
}

